body{
    min-width: 1000px;
    margin: 0 auto;
}
#wrap{
    width: 1000px;
    margin: 0 auto;
    background-color: aqua;
}
#header{
    width: 900;
    height: 50px;
    margin: 0 auto;
    background-color: bisque;
}
#nav{
    padding: 10px;
    height: 300px;
    width: 900px;
    margin: 0 auto;
    background-color: blue;
}
#all{
    padding: 20px 0;
    height: 600px;
    width: 900px;
    margin: 0 auto;
    background-color: blueviolet;
}
.row{
    width: 800px;
    height: 130px;
    margin: 10px auto;
    background-color: brown;
}
#info1,#info2,#info3,#info4,#info5,#info6{
    float: left;
    margin: 5px 8px;
    width: 250px;
    height: 120px;
    background-color: white;
}